body {
  font-family: "Times New Roman", serif;
  font-size: 14px;
  background: white;
  color: black;
}

a {
  color: #0000ee; /* classic link blue */
}

a:visited {
  color: #551a8b; /* classic purple */
}

a:hover {
  background: #0000ee;
  color: white;
}

h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  margin: 5px 0;
}